Header {
    width: 100%;;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F2EADE;
}
Header h2 {
    font-weight: bold;
    font-size: 1.8rem;
    width: 33%;
}
Header .logoArea{
    width: 33%;
}
Header .bgmArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
}